{% extends 'base.html.twig' %}

{% block title %}Circunscripcion index{% endblock %}

{% block body %}
    <h1>Circunscripcion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Circunscripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for circunscripcion in circunscripcions %}
            <tr>
                <td>{{ circunscripcion.id }}</td>
                <td>{{ circunscripcion.circunscripcion }}</td>
                <td>
                    <a href="{{ path('app_circunscripcion_show', {'id': circunscripcion.id}) }}">show</a>
                    <a href="{{ path('app_circunscripcion_edit', {'id': circunscripcion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_circunscripcion_new') }}">Create new</a>
{% endblock %}
